<div class = "empty-cart-message" *ngIf="cartList.length === 0">Your Cart is Empty!<br>Go back and add some items!</div>
<div class = "cart-container">
  <div class = "cart-panel" >
    <div class = "cart-item" *ngFor = "let product of cartList">
      <img src={{product.url}}>
      <div class ="cart-item-details">
        <p>{{product.name}}</p>
        <p>${{product.price}}</p>
        <p>Amount: {{product.quantity}}</p>
      </div>
    </div>

    <p *ngIf="cartList.length != 0"> Total: ${{userInfo.totalPrice}}</p>



  </div>
  <div class = "form-margin" *ngIf="cartList.length != 0">
    <form #form="ngForm">
      <p>Full name</p>
      <input type="text" name="fullName" required minlength = "3" maxlength = "100" placeholder="(minimum 3 characters)" [(ngModel)]="userInfo.fullName" (ngModelChange)="fullNameChanged($event)" #fullName ="ngModel">
      <br>
      <br>
      <p>Address</p>
      <input type="text" name="address" required minlength = "6" maxlength = "300" placeholder="(minimum 6 characters)" [(ngModel)]="userInfo.address"(ngModelChange)="addressChanged($event)" #address ="ngModel">
      <br>
      <br>
      <p>Credit card number</p>
      <input type="text" pattern="[0-9]+" name="creditCard" required minlength = "16" maxlength = "16" placeholder="(16-digit-number)" [(ngModel)]=userInfo.creditCard (ngModelChange)="creditCardChanged($event)" #creditCard ="ngModel">
      <br>
      <br>
      <input type="submit" class ="btn btn-primary" value = "Submit" [disabled]="form.invalid" (click)="send(userInfo)" routerLink="/confirmation">
    </form>
    <div *ngIf ="fullName.invalid && (fullName.dirty || fullName.touched)">
      <div *ngIf="fullName.errors?.['required']">
        Please provide your full name.
      </div>
      <div *ngIf = "fullName.errors?.['minlength']">
        Name must contain at least 3 characters.
      </div>
      <div *ngIf = "fullName.errors?.['maxlength']">
        Name cannot exceed 100 characters.
      </div>
    </div>
    <div *ngIf ="address.invalid && (address.dirty || address.touched)">
      <div *ngIf="address.errors?.['required']">
        Please provide your shipping address.
      </div>
      <div *ngIf = "address.errors?.['minlength']">
        Address must contain at least 16 characters.
      </div>
      <div *ngIf = "address.errors?.['maxlength']">
        Address cannot exceed 300 characters.
      </div>
    </div>
    <div *ngIf ="creditCard.invalid && (creditCard.dirty || creditCard.touched)">
      <div *ngIf="creditCard.errors?.['required']">
        Please enter your credit card.
      </div>
      <div *ngIf = "creditCard.errors?.['minlength']">
        Credit card must contain exact 16 digits.
      </div>
      <div *ngIf = "creditCard.errors?.['maxlength']">
        Credit card must contain exact 16 digits.
      </div>
      <div *ngIf = "creditCard.errors?.['pattern']">
        Credit card must be numbers only.
      </div>
    </div>
</div>
</div>
