.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  background: #33B5E5;
  padding: 20px 200px 20px 200px;
}

a {
  color: #ffffff;

}
