<div class="detail-container">
<button [routerLink]="['/product-detail']" [state]="product" style="border-radius: 10px;width: 335px;"><img src={{product.url}}></button>
<p>{{product.name}}</p>
<p>${{product.price}}</p>
<select class="select-input" (change) = "selected($event)">
  <option value=1>1</option>
  <option value=2>2</option>
  <option value=3>3</option>
  <option value=4>4</option>
  <option value=5>5</option>
  <option value=6>6</option>
  <option value=7>7</option>
  <option value=8>8</option>
  <option value=9>9</option>
  <option value=10>10</option>
</select>
  <button class="btn btn-primary"  style="margin-right:10px; width: 150px;height: 40px" (click)="addToCart(product,product_quantity)">Add to Cart</button>
  <button class="btn btn-primary"  style="margin-right:10px; width: 150px;height: 40px" (click)="delete(product)">Remove All</button>
</div>


