
<div class="product-container">
  <img class = "product-image" src={{product.url}}>
  <p>{{product.name}}</p>
  <p>${{product.price}}</p>
  <p>{{product.description}}</p>
  <select class="select-input" (change) = "selected($event)">
    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>
    <option value=6>6</option>
    <option value=7>7</option>
    <option value=8>8</option>
    <option value=9>9</option>
    <option value=10>10</option>
  </select>
  <br>
  <button class="btn btn-primary"  style="margin-right:10px; width: 150px;height: 40px" (click)="addToCart(product,product_quantity)">Add to Cart</button>
  <br>
  <button class="btn btn-primary"  style="margin-right:10px; width: 150px;height: 40px" (click)="delete(product)">Remove All</button>
  <br>
  <a routerLink="/">← Back to product list</a>
</div>


